.root {
  width: 100%;
}

.heading {
  padding: 1rem;
  margin-bottom: 1.75rem;
  font-family: var(--hero_font);
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.inventoryTable {
  margin-bottom: 4rem;
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notesContent {
  margin-top: 1rem;
  max-width: 45rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 2rem;
  }
}
