td {
  text-align: center;
  padding: 1rem 0;
}

.item .quantity .price {
  width: 16%;
}

.description {
  width: 30%;
  padding: 1.25rem;
}

.row {
  td {
    vertical-align: middle;
  }
}

@media only screen and (max-width: 600px) {
  .description {
    display: none;
  }
}
