@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Encode+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --default_font: 'Emblema One', cursive;
  --hero_font: 'Inter', sans-serif;
  --heading_font: 'Josefin Sans', sans-serif;
  --content_font: 'Comfortaa', cursive;
  --beige: rgb(252, 247, 227);
  --card-background: #fdf4ec;
  --nav-background: #4b543b;
  --light-blue: #f3f7f4;
  --copper: #b57f50;
  --seafoam: #b4d2ba;
}

.root {
  margin: 0 10%;
  padding-top: 5rem;
  z-index: 5;

  div {
    font-family: var(--heading_font);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--heading_font);
    font-weight: 700;
  }

  h1 {
    font-weight: 800;
  }
}
