.root {
  margin-bottom: 2rem;
  display: flex;

  a {
    text-decoration: none;
    font-family: var(--heading_font);
    color: #000;
  }

  a:hover {
    text-decoration: underline;
  }
}

.nav {
  z-index: 10;
}
