.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  width: 100%;
  text-align: left;
  padding: 2rem;
}

.collections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
