.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding: 1rem;
  margin-bottom: 1.75rem;
  font-family: var(--hero_font);
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.carousel {
  max-width: 50rem;
  min-width: 50rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-top: 1rem;
  padding: 0 0.5rem;
}
