.root {
  width: 75%;
  margin: 2rem;
  border: 1px solid black;
  height: fit-content;
}

.heading {
  padding: 1rem;
  margin-bottom: 0;
  background-color: aliceblue;
}

.thumbnail {
  width: 100%;
  display: flex;
  align-items: center;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  &:hover {
    cursor: pointer;
  }
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: aliceblue;
  height: 5rem;
}
