.root {
  height: 10vh;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  margin-top: 2rem;
  font-family: var(--heading_font);

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .root {
    font-size: 0.8rem;
  }
}
