.contact {
  width: 100%;
  text-align: center;
  transform: translateY(2rem);

  a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
  }

  a:hover {
    color: rgb(153, 176, 199);
  }
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.error {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 15rem;
}
